

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>

</title></head>
<body>
    <form name="form1" method="post" action="login.aspx" id="form1">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE3ODAzNzcxNzdkZKJZrA87S1YmRixLGyRD6vgp/+IytZPXnbY4bJ0wVUd8" />
</div>

<div>

	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBAKZ7qbGCAK/tf22BwLsi9PkCQLh75WwCR65UMqR1iebLJC2OYOuwwDWbl+UEVYWvKHVl9L/hLtd" />
</div>
    <div>
    <div>
    
      
     
        <span id="Label_username">用户名称：</span>
        <input name="TextBox_username" type="text" id="TextBox_username" style="width:90px;" />
&nbsp;
        <span id="Label_password">密码：</span>
        <input name="TextBox_password" type="password" id="TextBox_password" style="width:82px;" />
        &nbsp;&nbsp; <input type="submit" name="Button_longin" value="登录" id="Button_longin" style="height:30px;width:72px;" />
        <span id="Label_hint" style="color:Red;"></span>
    
 
    </div>
    </div>
    </form>
</body>
</html>
