<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css/metro/easyui.css">
	<link rel="stylesheet" type="text/css" href="css/icon.css">
	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body>	
	<div style="width:100%;height:100%;padding:5px;font-size:16px;">
	你好！<%= user.username %>
		<a id="quit" class="btn" href="/logout" style="font-size:16px">退出</a>
		<a id="mdpwd" class="btn" href="#" style="font-size:16px">修改密码</a>
		
		<a id="setID" class="easyui-linkbutton" href="#" style="margin-left:100px;width:100px;">
			<span style="font-size:16px;">设置ID</span>
		</a>
		<a id="remoteDel" class="easyui-linkbutton" href="#" style="margin-left:100px;width:150px;">
			<span style="font-size:16px;">远程删除</span>
		</a>
		<label id="delResult" style="font-size:16px;"></label>
	</div>	
	<div class="easyui-panel" title="设备" style="padding:5px;">
		<style>.panel-title{font-size:16px}</style>
		<button id="add" type="submit" class="easyui-linkbutton" data-options="iconCls:'icon-add'">
			<span style="font-size:16px;">添加设备</span>
		</button>
		<label style="font-size:16px;">用户ID：</label>
		<input class="easyui-numberbox" type="text" id="username" name="username" data-options="required:true" style="width:100px;font-size:16px;">
		<label style="font-size:16px;">(1 ~ 65535)</label>
		<label style="font-size:16px;">频  道：</label>
		<input class="easyui-numberbox" type="text" id="channel" name="channel" data-options="required:true" style="width:100px;font-size:16px;">
		<label style="font-size:16px;">(1 ~ 20)</label>
		<label id="addResult" style="font-size:16px;color:red;"></label>		
		<div style="margin:5px 0;"></div>
		<table style="width: 100%">
			<tbody>
				<tr>
					<td style="vertical-align: top; width: 550px">
						<div>
							<table id="dg" class="easyui-datagrid" style="width:500px;"	data-options="
								singleSelect:true,
								pagination:true,
								pageSize:10,
								url:'devices_datagrid.json'
								,method:'get'">
								<style>
								  .datagrid-cell{
									font-size:16px;
								  }
								</style>
								<thead>
									<tr>
										<th data-options="field:'userid',width:100">用户ID</th>
										<th data-options="field:'channel',width:100">频道号</th>
										<th data-options="field:'_operate',width:100,align:'center',formatter:formatOper">操作</th>
									</tr>
								</thead>
							</table>
							<label id="delResult" style="font-size:16px;"><label>
						</div>
					</td>
					<td style="vertical-align: top">
						<div style="height: 180px">
							<input id="content" class="easyui-textbox" id="msg" name="message" data-options="multiline:true" style="padding:5px;width:400px;height:140px;font-size:16px;" >
							<div style="padding-top:10px;">
								<button id="send" type="submit" class="easyui-linkbutton" data-options="iconCls:'icon-back'">
									<span style="font-size:16px;">发送数据</span>
								</button>
								<label id="result" style="font-size:16px;"><label>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="margin:10px 0;"></div>
	<div style="width:100%;padding:5px;font-size:16px;">
		<button id="clear" type="submit" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">
			<label style="font-size:16px;">清空历史</label>
		</button>
		<label id="retransResult" style="font-size:16px;"><label>
	</div>
	<div class="easyui-panel" title="发送历史" style="padding:5px;">
		<table id="hisdg" class="easyui-datagrid" style="width:900px;" nowrap=false data-options="
			singleSelect:true,
			pagination:true,
			pageSize:10,
			url:'history_datagrid.json',
			method:'get'">
			<style>.datagrid-cell{font-size:16px;}</style>
			<thead>
				<tr>
					<th data-options="field:'_operate',width:60,align:'center',formatter:formatRetrans">操作</th>
					<th data-options="field:'index',width:60,align:'center'">编号</th>
					<th data-options="field:'time',width:200,align:'center'">发送时间</th>
					<th data-options="field:'userid',width:60,align:'center'">用户ID</th>
					<th data-options="field:'channel',width:60,align:'center'">频道号</th>
					<th data-options="field:'answer',width:40,align:'center'">应答</th>
					<th data-options="field:'message',width:400,align:'left'">发送内容</th>
				</tr>
			</thead>
		</table>
	</div>
	<div id="w" class="easyui-dialog" title="修改密码" closed="true" data-options="iconCls:'icon-edit'" style="text-align:center;width:320px;height:240px;padding:10px;">		
		<div style="margin-bottom:10px">
			<span style="font-size:16px;">旧密码：</span>
			<input class="easyui-textbox" type="password" id="oldpwd" name="oldpwd" style="width:200px;height:40px;padding:12px" data-options="required:true,prompt:'Password',iconCls:'icon-lock',iconWidth:38">
		</div>		
		<div style="margin-bottom:20px">
			<span style="font-size:16px;">新密码：</span>
			<input class="easyui-textbox" type="password" id="newpwd"  name="newpwd" style="width:200px;height:40px;padding:12px" data-options="required:true,prompt:'Password',iconCls:'icon-lock',iconWidth:38">
		</div>			
			<label id="mdresult" style="font-size:16px;color:red;"></label>		
		<div style="margin-bottom:10px">
			<button id="modify" type="submit" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" style="display:inline-block;padding:5px;width:100px;">
				<span style="font-size:16px;">确定</span>
			</button>
		</div>
	</div>
</body>
<script type="text/javascript">	
$("#mdpwd").click(function(){
	modPwdClick();
});
$("#modify").click(function(){
	modifyMyPwd();
});
$("#add").click(function() {
	addDevice();
});
$("#send").click(function() {
	sendMsg();
});
$("#clear").click(function() {
	clear();
});
$("#setID").click(function() {
	setID();
});
$("#remoteDel").click(function() {
	remoteDel();
});
</script>
</html>
